.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

eco-smart-frontend/node_modules/
eco-smart-frontend/build/

mlruns/
mlflow.db
dataset_ProjetML_2026.csv
*.ipynb
*.png
*.zip

.git/
.gitignore
.env
