# Modèles ML (trop lourds)
models/
*.pkl

# Données
*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
htmlcov/
.coverage
.pytest_cache/

# MLflow
mlruns/
mlflow.db

# Node
eco-smart-frontend/node_modules/
eco-smart-frontend/build/

# Environnement
.venv/
venv/
.env 
