# Modèles ML (trop lourds)
models/
*.pkl

# Données
*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# MLflow
mlruns/

# Node
eco-smart-frontend/node_modules/
eco-smart-frontend/build/

# Environnement
.env 
